*.o
.deps
.libs
CMakeFiles/
*.cmake
Testing/
*~
Makefile
/canal.config
/canal.creator
/canal.files
/canal.includes

/autom4te.cache
/config.log
/config.status
/libtool
/llvm-root.cmake
/CMakeCache.txt
/cmake_install.cmake

/docs/*.aux
/docs/canal.idx
/docs/canal.ilg
/docs/canal.ind
/docs/canal.log
/docs/canal.out
/docs/canal.toc
/docs/doxygen-lib
/docs/doxygen-tool

/lib/libcanal.la
/lib/libcanal*.lo
/lib/Config.h
/lib/stamp-h1

/tool/canal

/tests/atconfig
/tests/atlocal
/tests/testsuite
/tests/testsuite.log
/tests/testsuite.dir
/tests/unit/PointerTest
/tests/unit/InterpreterTest
/tests/unit/IntegerIntervalTest
/tests/*.o

/wrappers/config.py
