*.o
.deps
.libs
*~
Makefile
Makefile.in
CMakeFiles
cmake_install.cmake
CTestTestfile.cmake
CMakeCache.txt

/Testing
/canal.config
/canal.creator
/canal.files
/canal.includes
/canal.spec
/autom4te.cache
/config.log
/config.status
/libtool
/ar-lib
/INSTALL
/aclocal.m4
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing

/docs/*.aux
/docs/canal.idx
/docs/canal.ilg
/docs/canal.ind
/docs/canal.log
/docs/canal.out
/docs/canal.toc
/docs/canal.pdf
/docs/doxygen-lib
/docs/doxygen-tool

/lib/libcanal.la
/lib/libcanal*.lo
/lib/Config.h
/lib/stamp-h1
/lib/libcanal.so
/lib/ConfigAutotools.h.in

/tool/canal

/tests/atconfig
/tests/atlocal
/tests/package.m4
/tests/testsuite
/tests/testsuite.log
/tests/testsuite.dir
/tests/*Test
/tests/*.o
/tests/*.s
/tests/integration

/wrappers/config.py
